logs
project/project
project/target
target
tmp
.history
dist
/.idea
/.sbtserver
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt
/activator-sbt-atmos-akka-shim.sbt
*.log
.sbtserver/*
project/.sbtserver
public/images/sdss/1/*.png
public/images/sdss/2/*.png
public/images/sdss/3/*.png
public/images/sdss/4/*.png
public/images/sdss/5/*.png
public/images/sdss/6/*.png
public/images/sdss/7/*.png
public/images/sdss/8/*.png
public/images/sdss/9/*.png
public/images/sdss/10/*.png
public/images/sdss/11/*.png
public/images/sdss/12/*.png
public/images/sdss/13/*.png
