.imagedropshadow { padding: 5px; border: solid 2px #EFEFEF; }

.imagedropshadow  {
border: solid 2px #CCC;
-moz-box-shadow: 2px 2px 5px #999;
-webkit-box-shadow: 2px 2px 5px #999;
box-shadow: 1px 1px 5px #999; }

a:hover img.imagedropshadow {
border: solid 2px #CCC;
-moz-box-shadow: 2px 2px 5px #999;
-webkit-box-shadow: 2px 2px 5px #999;
box-shadow: 1px 1px 5px #999; }

.dropshadowclass { border: solid 2px #CCC;
-moz-box-shadow: 10px 10px 0px #999;
-webkit-box-shadow: 10px 10px 0px #999;
box-shadow: 10px 10px 0px #999;
}

.question p, .question label, .tools p {
font-size: 1.5em;
}