@(comments: List[Comment])

@main("All Comments") {


<table id="tasklogtable" class="table table-striped">
    <thead>
    <tr>
        <th>SDSS Id</th>
        <th>Uuid</th>
        <th>Set</th>
        <th>Rating</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>SDSS Id</th>
        <th>Uuid</th>
        <th>Set</th>
        <th>Rating</th>
        <th>Comment</th>
    </tr>
    </tfoot>
    <tbody>
    @for(comment <- comments) {
    <tr>
        <td>@comment.sdss_id</td>
        <td>@comment.uuid</td>
        <td>@comment.set_id</td>
        <td>@comment.rating</td>
        <td>@comment.comment</td>
    </tr>
    }
    </tbody>
</table><br />





}