@(coordinates: List[Coordinate])(implicit flash: Flash)

@flash.get("error").map { errorMessage =>
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    @errorMessage
</div>
}

@main("Coordinates") {
<h3>List of Coordinates:</h3>

<table id="coordtable" class="table table-striped">
    <thead>
        <tr>
        <th>Id</th>
            <th>Sdss Id</th>
        <th>ra</th>
        <th>dec</th>
        <th>active</th>
        <th>delete?</th>
        </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Id</th>
        <th>Sdss Id</th>
        <th>ra</th>
        <th>dec</th>
        <th>active</th>
        <th>delete?</th>
    </tr>
    </tfoot>

    <tbody>
    @for(coordinate <- coordinates) {
    <tr>
        <td>@coordinate.id</td>
        <td>@coordinate.sdss_id</td>
        <td>@coordinate.ra</td>
        <td>@coordinate.dec</td>
        <td>@if(coordinate.active == 1) { <span style="color:green;" class="glyphicon glyphicon-ok"></span> } else {<span style="color:red;" class="glyphicon glyphicon-remove"></span>}</td>
        <td><a href="/deletecoordinate/@coordinate.id"><span style="color:red;" class="glyphicon glyphicon-remove"></span></a></tr>
    }
    </tbody>
</table><br /><br />

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Create New Coordinate-Pair</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" autocomplete="on" action="/insertcoordinate" class="form-inline">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create New Coordinate-Pair:</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="sdss_id">sdss_id:</label>
                        <input type="text" class="form-control" id="sdss_id" placeholder="1111" name="sdss_id">
                        <input type="hidden" class="" id="active" placeholder="1" value="1" name="active">

                    </div>
                    <div class="form-group">
                        <label for="ra">ra:</label>
                        <input type="text" class="form-control" id="ra" placeholder="1111.1111" name="ra">
                    </div>
                    <div class="form-group">
                        <label for="dec">dec:</label>
                        <input type="text" class="form-control" id="dec" placeholder="1111.1111" name="dec">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>

        </div>

    </div>
</div>
}