@(coordinates: List[Coordinate])

@main("Coordinates") {
<h3>List of Coordinates:</h3>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>ra</th>
        <th>dec</th>
        <th>active</th>
        <th>delete?</th>
    </tr>
    @for(coordinate <- coordinates) {
    <tr>
        <td>@coordinate.id</td>
        <td>@coordinate.ra</td>
        <td>@coordinate.dec</td>
        <td>@if(coordinate.active == 1) { <span style="color:green;" class="glyphicon glyphicon-ok"></span> } else {<span style="color:red;" class="glyphicon glyphicon-remove"></span>}</td>
        <td><a href="/deletecoordinate/@coordinate.id"><span style="color:red;" class="glyphicon glyphicon-remove"></span></a></tr>
    }
</table><br /><br />

<h3>Create New Coordinate-Pair:</h3>
<form method="post" autocomplete="on" action="insertcoordinate" class="form-inline">
    <div class="form-group">
        <label for="ra">ra:</label>
        <input type="text" class="form-control" id="ra" placeholder="1111.1111" name="ra">
    </div>
    <div class="form-group">
        <label for="dec">dec:</label>
        <input type="text" class="form-control" id="dec" placeholder="1111.1111" name="dec">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

}