@(message: String)

@main("Login") {
<form action='' method="POST" autocomplete="on" class="form-inline">
    <div id="legend">
        <legend class="">Login</legend>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address">
    </div>

    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">
    </div><br /><br />
    <button class="btn btn-primary">Enter</button>

</form>

}