@(email: String)

@main("Admin Panel") {

<h2>Hello @email!</h2><br />

<h3>please select what you like to do:</h3><br />

<a href="/userlist">Show users</a><br />
<a href="/showjwt">Show JWT</a><br />
<a href="/tasklist">Show workflow</a><br />
<a href="/coordinatelist/full">Show Coordinates </a><br />
<a href="/workset/1">Show Testworkset</a><br />
<a href="/logout">Logout</a><br />





<br /><br />
<h2>Testfunctions</h2>
<a href="/downloadCoordinates/small/600" target="_blank">Download coordinates (small 600)</a><br />
<a href="/downloadCoordinates/point/600" target="_blank">Download coordinates (point 600)</a><br />
<a href="/downloadCoordinates/inverted/600" target="_blank">Download coordinates (inverted 600)</a><br />
<a href="/downloadCoordinates/x/2000" target="_blank">Download coordinates (big 2000)</a><br />
}
