@(email: String)

@main("Admin Panel") {

<h2>Hello @email!</h2><br />


<div class="bs-example" data-example-id="nav-pills-with-dropdown">
    <ul class="nav nav-pills">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Users <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/userlist">Manage registered users</a></li>
                <li><a href="/showjwt">Show JWToken of this user</a></li>
            </ul>
        </li>
        <li role="presentation"><a href="/tasklist">Show workflow</a></li>
        <li role="presentation"><a href="/coordinatelist/full">Show Coordinates</a></li>
        <li role="presentation"><a href="/commentlist">Rating</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Tasklog <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/taskloglist/toplist">Show tasklog best rated</a></li>
                <li><a href="/taskloglist">Show tasklog</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Manage Worksets of Coordinates <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/workset/1">Show Testworkset 1</a></li>
            </ul>
        </li>
        <li role="presentation"><a href="/logout">Logout</a></li>
    </ul>
</div>



<br /><br />
<h2>Testfunctions</h2>
<a href="/downloadCoordinates/small/600/1000/0" target="_blank">Download coordinates (small 600)</a><br />
<a href="/downloadCoordinates/S/600/1000/0" target="_blank">Download coordinates (point 600)</a><br />
<a href="/downloadCoordinates/I/600/1000/0" target="_blank">Download coordinates (inverted 600)</a><br />
<a href="/downloadCoordinates/x/2000/1000/0" target="_blank">Download coordinates (big 2000)</a><br />
}
