@(tasklogs: List[Tasklog])

@main("Tasklog") {
<h3>List of completed tasks:</h3>
<table id="tasklogtable" class="table table-striped">
    <thead>
    <tr>
        <th>user uuid</th>
        <th>question id</th>
        <th>answer given</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>user uuid</th>
        <th>question id</th>
        <th>answer given</th>
    </tr>
    </tfoot>
    <tbody>
    @for(log <- tasklogs) {
    <tr>
        <td>@log.uuid</td>
        <td>@log.question</td>
        <td>@log.answer</td>
    </tr>
    }
</tbody>
</table><br />


}