@(users: List[User])

@main("Users") {
<h3>List of Users:</h3>
<table class="table table-striped">
    <tr>
        <th>email</th>
        <th>lastname</th>
        <th>firstname</th>
        <th>role</th>
        <th>active</th>
        <th>Delete?</th>
    </tr>
    @for(user <- users) {
    <tr>
        <td>@user.email</td>
        <td>@user.lastname</td>
        <td>@user.firstname</td>
        <td>@user.roleId</td>
        <td>@if(user.active == 1) { <span style="color:green;" class="glyphicon glyphicon-ok"></span> } else { <span style="color:red;" class="glyphicon glyphicon-remove"></span>}</td>
        <td><a href="/deleteuser/@user.email"><span style="color:red;" class="glyphicon glyphicon-remove"></span></a></tr>
    </tr>
    }
</table><br />


<h3>Create New User:</h3>
<form method="post" autocomplete="on" action="insertuser">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="test@@example.com" name="email">
    </div>
    <div class="form-group">
        <label for="firstname">Firstname:</label>
        <input type="text" class="form-control" id="firstname" placeholder="Jane" name="firstname">
    </div>
    <div class="form-group">
        <label for="lastname">Lastname:</label>
        <input type="text" class="form-control" id="lastname" placeholder="Doe" name="lastname">
    </div>
    <div class="form-group">
        <label for="roleId">Role:</label>
        <select class="form-control" name="roleId" size="1" id="roleId" name="roleId">
            <option value="1">User</option>
            <option value="2">Superuser</option>
            <option value="3" selected>Admin</option>
        </select>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

}